/* common dialog */
.commonDialog {
  position: fixed;
  top: 80px;
  left: 20px;
  min-height: 150px;
  max-height: 500px;
  min-width: 150px;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
  display: none;
}

.commonDialogTitle {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: rgb(105,105,105);
  color: #FFFFFF;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.commonDialogTitleText {
  font-size: 20px;
  line-height: 24px;
  text-indent: 5px;
}

.commonDialogClose {
  width: 24px;
  height: 24px;
  background-image: url('../../../icon/close_w.png');
  background-size: 90%;
}
.commonDialogClose:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  background-size: 100%;
}

.commonDialogContent {
  position: relative;
  min-height: 150px;
  max-height: calc(500px - 24px);
  min-width: 150px;
  max-width: 500px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 2px;
  overflow: auto;
}

.commonContentTable{
  display: table;
}

.commonContentTableRow{
  display: table-row;
}

.commonContentTableCell{
  display: table-cell;
}