a.noDec {
  text-decoration: none;
  color: white;
}
/* common dialog */
.commonDialog {
  position: fixed;
  top: 80px;
  left: 20px;
  min-height: 150px;
  max-height: 800px;
  min-width: 150px;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
  display: none;
}

.commonDialogTitle {
  position: relative;
  width: 100%;
  height: 24px;
  background-color: rgb(105,105,105);
  color: #FFFFFF;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.commonDialogTitleText {
  font-size: 20px;
  line-height: 24px;
  text-indent: 5px;
}

.commonDialogClose {
  width: 24px;
  height: 24px;
  background-image: url('../../../icon/close_w.png');
  background-size: 90%;
}
.commonDialogClose:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  background-size: 100%;
}

.commonDialogContent {
  position: relative;
  min-height: 150px;
  max-height: calc(800px - 24px);
  min-width: 150px;
  max-width: 800px;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 2px;
  overflow: auto;
}

.commonContentTable{
  display: table;
}

.commonContentTableThead{
  display: table-header-group;
}

.commonContentTableTbody{
  display: table-row-group;
}

.commonContentTableTfoot{
  display: table-footer-group;
}

.commonContentTableRow{
  display: table-row;
}

.commonContentTableCell{
  display: table-cell;
}


.dialogPropFlex {
  display: flex;
  justify-content: space-between;
}
.dialogPropTitle{
  font-size: 12px;
  line-height: 20px;;
}

/*  variable  */
.commonInput {
  width: 50px;
  background: transparent;
  color: #FFFFFF;
  outline: none;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
.commonInput option{
  background: #000000;
}

/* --- CodeMirror --- */
.CodeMirror{
  border:1px solid black;
  font-size:15px;
  width:calc(100% - 4px);
  height:450px;
}